extends /layouts/_default
block content
	div.slide#start
			div.logo Frontendler
	div.slide.disable#slide1
		div.container
			h1 Install
			| Frontendler need Nodejs and Gulp to run.
	div.slide.disable#slide2
		div.container2
			h1 Grid
			| O grid é formado por 3 elementos básicos:
			ul 
				li 
					strong Breakpoint: 
					| Intervalos de resolução onde há mudança na interface ou comportamento.
				li 
					strong Row: 
					| Elemento que contém os breakpoints
				li 
					strong column: 
					| Elemento que contém a quantidade de colunas
	div.slide.disable#slide3
		div.container
			h1 Theme
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	div.controls
		div.bt.left ←
		div.bt.count 1
		div.bt.right →
